# Postgres
PG_HOST=postgres
PG_PORT=5432
PG_DB=trading_db
PG_USER=trading_user
PG_PASSWORD=trading_pass
PG_SCHEMA_RAW=raw
PG_SCHEMA_ANALYTICS=analytics

# Ingesta mercado
TICKERS=AAPL,MSFT,SPY
START_DATE=2018-01-01
END_DATE=2025-12-31
DATA_PROVIDER=yfinance
RUN_ID=run_001

# feature-builder
FEATURE_RUN_ID=features_run_001

# API
MODEL_PATH=models/best_model.pkl
API_PORT=8000
API_ENV=dev