# Snowflake
SNOWFLAKE_ACCOUNT=<EMC22675>
SNOWFLAKE_USER=<ERICKDS1017>
SNOWFLAKE_PASSWORD=<Snowdansuar1017$>
SNOWFLAKE_ROLE=<ACCOUNTADMIN>
SNOWFLAKE_WAREHOUSE=<WH_DM_P3>
SNOWFLAKE_DATABASE=DM_P3
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_ANALYTICS=ANALYTICS

# Ingesta Parquet NYC TLC
NYC_BASE_URL_YELLOW=https://d37ci6vzurychx.cloudfront.net/trip-data
NYC_BASE_URL_GREEN=https://d37ci6vzurychx.cloudfront.net/trip-data
YEARS=2015-2025
MONTHS=01-12
SERVICES=yellow,green

# Parámetros de ejecución
RUN_ID=local-dev
VALIDATE_ON_LOAD=true

# Spark
SPARK_DRIVER_MEMORY=4g
SPARK_EXECUTOR_MEMORY=4g
